/* Resetear estilos y estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     text-align:center;
     margin:auto;
    font-family: Arial, sans-serif;
}

/* Estilos generales */
header {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    text-align: center;
}

header  a {
text-decoration:none;
}



.spab{
border-radius:50%;
width:430px;
height:430px;
}

.presentacion{
width:80%;
height:280px;
}

h1{
color:blue;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 40px;
}

/* Estilos específicos para secciones */
#inicio {
    background-color: #f7f7f7;
}

.servicio {
    margin-bottom: 30px;
}

.servicio img {
    max-width: 100%;
}

footer {
    background-color: lightgreen;
    color: black;
    text-align: center;
    padding: 10px 0;
}
