/* Resetear estilos y estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
     text-align:center;
     margin:auto;
    font-family: Arial, sans-serif;
}

/* Estilos generales */
header {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Para alinear en las esquinas horizontales */
    align-items: flex-start;
}

header  a {
text-decoration:none;
color:fuchsia;
font-size:20px;
}



img.spab{
border-radius:50%;
width:430px;
height:430px;
transition: transform 0.3s ease-in-out; 
}



.image-container {
    position: relative;
    width: 61%; /* Ajusta el tamaño según tus imágenes */
    height: 360px; /* Ajusta el tamaño según tus imágenes */
   margin:auto;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 92%;
    height: 100%;
    opacity: 8;
    animation: imageAnimation 15s linear infinite;
}

h1{
font-size:35px;
color:#3498DB ;
}



nav ul {
    list-style: none;
    padding:10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 15px;
}

/* Estilos específicos para secciones */
#inicio {
    background-color: #f7f7f7;
}

.servicio {
    margin-bottom: 30px;
}

.servicio img {
    max-width: 100%;
}

footer {
    background-color: lightgreen;
    color: black;
    text-align: center;
    padding: 10px 0;
}
